body{
  font-family: verdana, serif, sans-serif;
  margin-top: 5em;
  background-image: url("../img/darkbrushedmetal.jpg");
  color: white;
}

.navbar{
 background-image: url("../img/lightbrushedmetal.png");
}

.margin4title{
text-align: center;
margin-top: 3em;
margin-bottom: 3em;
}

.center{
  text-align: center;
}

.projlink{
  font-size: 125%;
}

.icon-bar{
  background-color: white;
}

ul li a {
  color: white;
}

ul li a:hover {
  color: darkorange;
}

.navbar-brand{
  color: white;
}

.navbar-brand:hover{
  color: darkorange;
}
